/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  font-family: "Simplon", monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* CodeAssist color palette */
  --dark-bg-base: #1a1414;
  --dark-bg-1: #2a2222;
  --dark-bg-2: #3a3232;
  --pink-base: #FAD7D1;
  --green-base: #B8E986;
  --border-base: #4a4242;
}

@font-face {
  font-family: "Simplon";
  src: url("/fonts/Simplon/SimplonMono-Light-WebS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Simplon Mono family for Light (300) and Medium (500). Uses Light file for both */
@font-face {
  font-family: "Simplon Mono";
  src: url("/fonts/Simplon/SimplonMono-Light-WebS.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Simplon Mono";
  src: url("/fonts/Simplon/SimplonMono-Light-WebS.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "AuxMono";
  src: url("/fonts/AuxMono/WebFont/Aux Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* JetBrains Mono family for Light (300), Regular (400), and Medium (500) */
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono/JetBrainsMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
}


body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
